
        body {
            font-family: Arial, sans-serif;
            background-color: #d2c3c3;
            margin: 0;
            padding: 0;
        }


        h3 {
            color: #000000;
        }



        .container1 {
            width: 90%;
            margin: 20px auto;
            max-width: 2000px;
            text-align: center;
        }
        h1 {
            text-align: left;
            color: #d9534f;
        }
        .blood-group-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .blood-group-box {
            background: #e1dada;
            border: 1px solid #ddd;
            border-radius: 8px;
            width: 250px;
            margin: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .blood-group-box h2 {
            color: #d9534f;
        }
    
        