#container{
    text-align: justify;
    padding: 10px 15px;
}  
#container h1{
    color: red;
}
h2{
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

table{
    padding-top: 20px;
    background-color: rgb(235, 247, 247);
    width: auto;   
    border-collapse: collapse;
}

table td, table th{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

table td{
    height: 100px;
    font-weight: 500;
    font-size: 1.5em;
}
table th{
    font-size: 1.2em;
    height: 30px;
    padding: 10px;
}

#center{
    padding-left: 150px;
}
