.wrapper{
    text-align: justify;
    padding-left: 15%;
    padding-top: 10px;
    padding-right: 15px;
}

table{
    width: 100%;   
    border-collapse: collapse;
}

table td, table th{
    border: 2px solid black;
    padding: 5px;
}

#heading{
    color: red;
    padding: 10px;
}

table tr td a{
    color: red;
}

a:hover{
    color: brown;
}
