html,body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    width: 100%;
    padding: 20px;
    background-color: rgb(205, 26, 26);
    box-sizing: border-box;
}

.navbar .navbar-header{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

@media(min-width:760px){
    .navbar .navbar-item{
        position: absolute;
        right: 0;
        top: 20px;
    }
    
    .navbar .navbar-item ul li{
        display: inline;
        margin-right: 25px;
    }
    .navbar .navbar-item ul li a{
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
    
    .navbar .navbar-item ul li a:hover{
        background-color: #c0392b;
    }

    .menu {
        display: none;
    }
}

@media (max-width:760px){
    .navbar .navbar-item ul{
        list-style-type: none;
        padding: 0;
    }
    
    .navbar .navbar-item ul li{
        margin-top: 15px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    
    .navbar-item ul li a{
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    .menu {
        display: block; 
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

    .menu-line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
    }

    .hide{
        display: none;
    }
}