.wrapper{
    text-align: justify;
    padding: 10px 15px;
}

table{
    background-color: rgb(235, 247, 247);
    width: 100%;   
    border-collapse: collapse;
}

table td, table th{
    border: 2px solid black;
    padding: 5px;
}

table th{
    background-color: rgb(211, 238, 238);
}

#heading{
    color: red;
    padding: 10px;
}

table tr td a{
    color: red;
}

a:hover{
    color: brown;
}
.message {
    color: red;
    font-weight: bold;
    padding: 10px 0 0 50px;
    font-size: 1.2em;
    background-color: rgb(235, 247, 247);
}
