/* General Styles */
body {
    background-color: white;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: red;
    margin-top: 75px;
    padding-inline-start: 5%;
}

#form {
    width: 90%;
    max-width: 600px;
    margin: 10vh auto 0 auto;
    background-color: rgb(249, 230, 230);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    padding-top: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: red;
    color: white;
    height: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input, .input-group select {
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
}

.checkbox {
    font-size: 16px;
    padding: 10px;
    color: rgb(35, 85, 35);
    font-weight: 400;
}

#form button {
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 1.25em;
    width: 100%;
}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(205, 26, 26);
    color: #fff;
    padding: 10px 20px;
    height: auto; /* Adjust height to auto for better responsiveness */
    position: relative;
}

.navigation {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;

}

nav ul li {
    margin-right: 15px;
    font-size: 1em;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    color: white;
    background-color: brown;
    cursor: pointer;
}

nav ul.active {
    display: flex; /* Show the menu when active */
}


.menu {
    display: none; /* Hidden on large screens */
    position: absolute; /* Position relative to the nav */
    top: 10px; /* Adjust top position as needed */
    right: 20px; /* Align to the right */
    cursor: pointer;
}

.menu-line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none; /* Hide menu on smaller screens */
        flex-direction: column; /* Stack menu items vertically */
        width: 100%;
        background-color: rgb(205, 26, 26); /* Match navigation bar color */
        justify-content: space-around;
        margin-right: 5px;
    }
    
    nav ul.active {
        display: flex; /* Show the menu when active */
    }
    
    .menu {
        display: block; /* Show hamburger menu */
        cursor: pointer;
    }
    
    .menu.active {
        display: block; /* Ensure the hamburger icon is visible when active */
    }

    .menu-line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
    }
    nav ul li {
        margin: 10px 0;
    }

    #form {
        width: 95%;
    }

}

@media (max-width: 480px) {
    nav {
        padding: 10px;
    }

    nav ul {
        justify-content: space-around;
    }

    nav ul li {
        font-size: 0.875em;
        margin-right: 5px;
        margin: 10px 0px;
    }

    h1 {
        font-size: 1.5em;
        padding-inline-start: 2%;
    }

    .input-group input, .input-group select {
        font-size: 0.875em;
    }

    #form button {
        font-size: 1em;
    }

    .checkbox {
        font-size: 14px;
    }
}


