*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    text-align: justify;
    padding: 15px;
}

#heading {
    color: red;
    padding: 10px;
}

table {
    background-color: rgb(235, 247, 247);
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid black;
    padding: 5px;
}

table th {
    background-color: rgb(211, 238, 238);
}

.button{
    padding: 5px;
    background-color: #F44336;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.button:hover{
    color: #D32F2F;
}

input{
    padding: 5px;
    border-radius: 5px;
}